{% extends "travel/base.html" %}
{% block body_block %}

    <style type="text/css">
        .th-sm{
            background: #9fc4c9;
        }
        .hotel_description{
            background-color: #fff;
            padding: 2rem;
        }
        .h_name{
            text-align: center;
        }
        .search-sec{
            padding: 2rem;
        }
        .container{
            padding: 2rem;
        }
        .search-slt{
            display: block;
            width: 100%;
            font-size: 0.875rem;
            line-height: 1.5;
            color: #55595c;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            height: calc(3rem + 2px) !important;
            border-radius:0;
        }
        .wrn-btn{
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            text-transform: capitalize;
            height: calc(3rem + 2px) !important;
            border-radius:0;
        }
        @media (min-width: 992px){
            .search-sec{
                position: relative;
                top: -114px;
                background: rgba(26, 70, 104, 0.51);
            }
        }

        @media (max-width: 992px){
            .search-sec{
                background: #1A4668;
            }
        }
    </style>


    <section class="u-clearfix u-section-1" id="sec-6b16">
        <div class="container">

            <form action =""  method="post" novalidate="novalidate">
                {% csrf_token %}
                <div class = "column">
                    <div class = "row">

                        <div class="col-sm-4 col-lg-4 p-0">

                            <div class="human-select">
                                <button type="button" id="closable-wrapper" class="close" aria-label="Close">
                                    <label> Guide:</label>
                                    <select name="guide" id="guide" class="people-count">
                                        <option value="All"selected="">All</option>
                                        <option value="Available">Available</option>
                                        <option value="Unavailable">Unavailable </option>
                                    </select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class="col-sm-7 col-lg-7 p-0">
                        <button type="submit" class="btn btn-danger wrn-btn">Search</button>
                    </div>
                </div>


            </form>
        </div>
    </section>





    <div class="container">
        <table id="tours" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="th-sm">Guide Id
                </th>
                <th class="th-sm">Name
                </th>
                <th class="th-sm">Assign
                </th>
            </tr>
            </thead>
            {% for guide in guides %}
                <tbody>
                <tr>
                    {% for value in guide %}
                        <td class="th-sm">{{value}}</td>
                    {% endfor %}
                    <td class="th-sm">
                        <form action="{% url 'travel:assign_tour' t_id guide.0 %}" method="POST">
                            {% csrf_token %}

                        <button type="submit" class="btn btn-sm btn-info" >Assign Tour</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>


{% endblock %}
{{% block js %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script>
    $(document).ready(function () {
        $('#hotel-table').DataTable( {
                "paging": true,
                "searching": true,
                "autoWidth": false,
                "ordering": true,
                "columnDefs": [
                    {"width": "50px", "targets": 0},
                    {"width": "250px", "targets": 1},
                ],
            }
        );
    } );
</script>
{% endblock js %}
