{% extends "travel/base.html" %}
{% block body_block %}
<style type="text/css">
	.th-sm{
    background: white;
  }
</style>
<div class="container">
  <div class="jumbotron">
    <h1>This is statistics</h1>
  </div>
  <h5>Hotel with minimum rating: {{min}}</h5>
  <h5>Hotel with maximum rating: {{max}}</h5>
<section class="u-clearfix u-section-1" id="sec-6b16">
  <div class="container">
  <table id="hotel-table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Hotel ID

      </th>
      <th class="th-sm">Hotel Name

      </th>
      <th class="th-sm">Hotel Rating

      </th>
    </tr>
  </thead>
  {% for hotel in all %}
  <tbody>
    <tr>
   	  {% for value in hotel %}
      <td class="th-sm">{{value}}</td>
      {% endfor %}
    </tr>
  </tbody>
  {% endfor %}
</table>
</div>
</section>
</div>

{% endblock %}
{{% block js %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script>
        $(document).ready(function () {
        $('#hotel-table').DataTable( {
            "paging": true,
            "searching": true,
            "autoWidth": false,
            "ordering": true,
            "columnDefs": [
                {"width": "50px", "targets": 0},
                {"width": "250px", "targets": 1},
            ],
        }
        );
    } );



    </script>
    {% endblock js %}
